 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-31366732.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 443px 57px 0;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 207px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 16px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 30px;
}

.u-section-2 .u-text-2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 695px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 39px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 240px;
  margin-top: 36px;
  margin-bottom: 52px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 743px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 573px;
  }

  .u-section-2 .u-gallery-1 {
    height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1024px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-2 .u-gallery-1 {
    height: 645px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 462px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  font-size: 3.75rem;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 234px 0 0 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1871px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 609px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 95px 7px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 7px 0;
}

.u-section-4 .u-group-1 {
  min-height: 158px;
  width: 510px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1811px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 420px;
  height: 420px;
  background-image: url("images/Image7.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-4 .u-image-2 {
  width: 457px;
  height: 457px;
  background-image: url("images/Image5.webp");
  background-position: 50% 50%;
  margin: 60px 36px 0 18px;
}

.u-section-4 .u-image-3 {
  width: 465px;
  height: 465px;
  background-image: url("images/Image6.png");
  background-position: 50% 50%;
  margin: 60px 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1839px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 424px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1493px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-4 .u-image-2 {
    width: 410px;
    height: 410px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 410px;
    height: 410px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3451px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 2293px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-group-1 {
    width: 314px;
    min-height: 1178px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1144px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    height: 300px;
  }

  .u-section-4 .u-image-3 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2421px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1568px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 515px;
    min-height: 770px;
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 807px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -127px;
    margin-left: 90px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 105px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 767px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: 24px;
    margin-left: 5px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1422px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  margin: -2px -39px 0 604px;
}

.u-section-5 .u-text-3 {
  margin: -588px 592px 0 0;
}

.u-section-5 .u-image-1 {
  height: 271px;
  width: 540px;
  margin: 66px 56px 0 auto;
}

.u-section-5 .u-image-2 {
  height: 259px;
  width: 461px;
  margin: -265px 679px 0 0;
}

.u-section-5 .u-image-3 {
  width: 522px;
  height: 263px;
  margin: 72px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-right: -20px;
    margin-left: 485px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -720px;
    margin-right: 485px;
    margin-left: -20px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 350px;
    margin-right: 24px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -549px;
    margin-right: 479px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-right: -19px;
    margin-left: 374px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -936px;
    margin-right: 355px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -266px;
    margin-right: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1757px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 630px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -1261px;
    margin-right: 18px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 686px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 943px;
    margin-right: -30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -1839px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 171px;
    margin-top: 1416px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 191px;
    margin-top: -165px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    margin-top: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 462px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 37px;
}

.u-section-6 .u-image-1 {
  min-height: 403px;
  background-image: url("images/Image11.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 307px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-6 .u-image-1 {
    min-height: 254px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-6 .u-image-1 {
    min-height: 286px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-image-1 {
    min-height: 180px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
} .u-section-7 {
  background-image: none;
  min-height: 985px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1190px;
  margin: 67px 0 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 830px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0 47px;
}

.u-section-7 .u-text-2 {
  margin: 34px 594px 0 41px;
}

.u-section-7 .u-text-3 {
  margin: -744px 47px 312px 656px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 811px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1205px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 510px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin: -936px 67px 0 511px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 255px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 400px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -1152px;
    margin-right: 39px;
    margin-left: 425px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1814px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 525px;
    margin-top: 66px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1749px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 67px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 40px;
    margin-right: 57px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 2335px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 354px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 2247px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 28px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 60px;
    margin-right: 28px;
    margin-left: 1px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-8 .u-image-1 {
  width: 518px;
  height: 303px;
  margin: 13px auto 0 19px;
}

.u-section-8 .u-image-2 {
  width: 506px;
  height: 337px;
  margin: 31px 43px 0 auto;
}

.u-section-8 .u-image-3 {
  width: 551px;
  height: 312px;
  margin: 66px auto 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    height: 302px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-8 .u-image-3 {
    width: 570px;
    height: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-8 .u-image-3 {
    width: 521px;
    height: 315px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 198px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 205px;
  }
}